@charset "UTF-8";
/*------------------------------------*\
    WOOCOMMERCE.CSS
\*------------------------------------*/
/**
 * WooCommerce Plugin Styling
 */
/*------------------------------------*\
    $SETUP
\*------------------------------------*/
/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/
/**
 * Any variables you find set in inuit.css’ `_vars.scss` that you do not wish to
 * keep, simply redefine here. This means that if inuit.css, for example, sets
 * your `$base-font-size` at 16px and you wish it to be 14px, simply redeclare
 * that variable in this file. inuit.css ignores its own variables in favour of
 * using your own, so you can completely modify how inuit.css works without ever
 * having to alter the framework itself.
 */
/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/
/**
 * All of inuit.css’ objects and abstractions are initially turned off by
 * default. This means that you start any project with as little as possible,
 * and introducing objects and abstractions is as simple as switching the
 * following variables to `true`.
 */
/*-----------------------------------------------*\
     $STYLE GUIDE
\*-----------------------------------------------*/
/*
 * Colors
 */
/*
 * Spacing Units
 */
/* Font sizes */
/*-----------------------------------------------*\
     $LAYOUT DEFAULTS
\*-----------------------------------------------*/
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * Create a fully formed type style (sizing and vertical rhythm) by passing in a
 * single value, e.g.:
 *
   `@include font-size(10px);`
 *
 * Thanks to @redclov3r for the `line-height` Sass:
 * twitter.com/redclov3r/status/250301539321798657
 */
/**
 * Convert basic px measurements into rem units
 */
/**
 * Style any number of headings in one fell swoop, e.g.:
 *
   .foo{
       @include headings(1, 3){
           color:#BADA55;
       }
    }
 *
 * With thanks to @lar_zzz, @paranoida and @rowanmanning for refining and
 * improving my initial mixin.
 */
/**/
/**
 * Create vendor-prefixed CSS in one go, e.g.
 *
   `@include vendor(border-radius, 4px);`
 *
 */
/**
 * Create CSS keyframe animations for all vendors in one go, e.g.:
 *
   .foo{
       @include vendor(animation, shrink 3s);
   }

   @include keyframe(shrink){
       from{
           font-size:5em;
       }
   }
 *
 * Courtesy of @integralist: twitter.com/integralist/status/260484115315437569
 */
/**
 * Force overly long spans of text to truncate, e.g.:
 *
   `@include truncate(100%);`
 *
 * Where `$truncation-boundary` is a united measurement.
 */
/**
 * CSS arrows!!! But... before you read on, you might want to grab a coffee...
 *
 * This mixin creates a CSS arrow on a given element. We can have the arrow
 * appear in one of 12 locations, thus:
 *
 *       01    02    03
 *    +------------------+
 * 12 |                  | 04
 *    |                  |
 * 11 |                  | 05
 *    |                  |
 * 10 |                  | 06
 *    +------------------+
 *       09    08    07
 *
 * You pass this position in along with a desired arrow color and optional
 * border color, for example:
 *
 * `@include arrow(top, left, red)`
 *
 * for just a single, red arrow, or:
 *
 * `@include arrow(bottom, center, red, black)`
 *
 * which will create a red triangle with a black border which sits at the bottom
 * center of the element. Call the mixin thus:
 *
   .foo{
       background-color:#BADA55;
       border:1px solid #ACE;
       @include arrow(top, left, #BADA55, #ACE);
   }
 *
 */
/**
 * Media query mixin.
 *
 * It’s not great practice to define solid breakpoints up-front, preferring to
 * modify your design when it needs it, rather than assuming you’ll want a
 * change at ‘mobile’. However, as inuit.css is required to take a hands off
 * approach to design decisions, this is the closest we can get to baked-in
 * responsiveness. It’s flexible enough to allow you to set your own breakpoints
 * but solid enough to be frameworkified.
 *
 * We define some broad breakpoints in our vars file that are picked up here
 * for use in a simple media query mixin. Our options are:
 *
 * palm
 * lap
 * lap-and-up
 * portable
 * desk
 * desk-wide
 *
 * Not using a media query will, naturally, serve styles to all devices.
 *
 * `@include media-query(palm){ [styles here] }`
 *
 * We work out your end points for you:
 */
/*------------------------------------*\
    $WOOCOMMERCE RELATED PAGES
\*------------------------------------*/
/*------------------------------------*\
    $WOOCOMMERCE ARCHIVE
\*------------------------------------*/
.post-type-archive-product .mosaic-wrapper {
  margin-top: 0;
  margin-bottom: 0; }
  @media only screen and (min-width: 900px) {
    .post-type-archive-product .mosaic-wrapper {
      margin-bottom: 42px; } }
.post-type-archive-product .page-description {
  padding-top: 24px;
  margin-bottom: 12px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8; }
.post-type-archive-product .article-archive .article__featured-image-meta.is--visible {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1; }
  .post-type-archive-product .article-archive .article__featured-image-meta.is--visible + img {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8; }
.post-type-archive-product .article-archive img {
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  -webkit-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear; }
.post-type-archive-product .article-archive:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8; }

article.product header {
  text-align: center; }
  article.product header .article__title--product {
    margin-top: 12px;
    margin-bottom: 0;
    text-transform: none; }
  article.product header .price {
    font-size: 14px !important; }

.shop-categories {
  text-transform: uppercase; }
  .shop-categories a {
    padding: 6px;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 1.72429;
    color: #919191; }
    .shop-categories a.active {
      color: #00a8da; }

.sale-flash {
  position: absolute;
  top: 9px;
  left: -6px; }
  @media only screen and (min-width: 900px) {
    .sale-flash {
      top: -3px;
      left: -3px; } }

.out-of-stock-flash {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.related.products .mosaic-wrapper {
  margin-top: 0;
  margin-bottom: 12px; }

/*------------------------------------*\
    $CART
\*------------------------------------*/
body.woocommerce .cart-collaterals .cart_totals,
body.woocommerce-page .cart-collaterals .cart_totals,
body.woocommerce .cart-collaterals .shipping_calculator,
body.woocommerce-page .cart-collaterals .shipping_calculator {
  float: none;
  text-align: left;
  width: 100%; }

td.actions input.button {
  line-height: 1.6345 !important; }

td.actions {
  padding: 12px 6px !important; }

body.woocommerce #content .quantity,
body.woocommerce .quantity,
body.woocommerce-page #content .quantity,
body.woocommerce-page .quantity {
  margin-left: 0; }

body.woocommerce table.shop_table, body.woocommerce-page table.shop_table {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

body.woocommerce #content table.cart td.actions .coupon .input-text,
body.woocommerce table.cart td.actions .coupon .input-text,
body.woocommerce-page #content table.cart td.actions .coupon .input-text,
body.woocommerce-page table.cart td.actions .coupon .input-text {
  width: 120px;
  height: 38px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.shipping-calculator-button:after {
  content: none !important; }

.wc-proceed-to-checkout {
  max-width: 300px;
  text-align: right;
  float: right; }
  .wc-proceed-to-checkout .button {
    font-weight: bold !important; }

.woocommerce-shipping-calculator {
  margin-top: 20px; }

.shipping-calculator-form {
  margin-bottom: 20px; }
  .shipping-calculator-form button[type=submit] {
    margin-top: 20px; }

/*------------------------------------*\
    $SINGLE PRODUCT
\*------------------------------------*/
body.woocommerce #content div.product div.images img,
body.woocommerce div.product div.images img,
body.woocommerce-page #content div.product div.images img,
body.woocommerce-page div.product div.images img {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

body.woocommerce .woocommerce-product-rating .star-rating,
body.woocommerce-page .woocommerce-product-rating .star-rating {
  float: none;
  display: inline-block; }

.woocommerce-review-link {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.72429;
  font-weight: bold;
  color: #1a1919; }

.single-product .entry-summary .price {
  display: block;
  margin-top: 24px;
  margin-bottom: 36px;
  line-height: 1; }
.single-product .entry-summary .price span {
  font-size: 40px;
  font-weight: bold;
  color: #1a1919; }
.single-product .entry-summary .price del span {
  margin-right: 9px;
  font-size: 30px;
  font-weight: normal;
  color: #b3b3b3; }
.single-product .entry-summary .price ins, .single-product .entry-summary .price ins span {
  font-size: 30px;
  color: #1a1919; }
.single-product .entry-summary .price del {
  display: inline-block !important; }
.single-product .entry-summary form.cart {
  margin-top: 6px;
  margin-bottom: 60px !important; }
.single-product .entry-summary .woocommerce-breadcrumb {
  font-size: 12px; }
  .single-product .entry-summary .woocommerce-breadcrumb, .single-product .entry-summary .woocommerce-breadcrumb a {
    color: #919191; }

.single-product-description {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.72429; }

body.woocommerce #content .quantity,
body.woocommerce .quantity,
body.woocommerce-page #content .quantity,
body.woocommerce-page .quantity {
  width: 90px; }

body.woocommerce #content .quantity input.qty,
body.woocommerce .quantity input.qty,
body.woocommerce-page #content .quantity input.qty,
body.woocommerce-page .quantity input.qty {
  width: 70px;
  height: 40px;
  padding: 0;
  border: none;
  background: #1a1919;
  color: white;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

body.woocommerce #content input.button.alt,
body.woocommerce #respond input#submit.alt,
body.woocommerce a.button.alt,
body.woocommerce button.button.alt,
body.woocommerce input.button.alt,
body.woocommerce-page #content input.button.alt,
body.woocommerce-page #respond input#submit.alt,
body.woocommerce-page a.button.alt,
body.woocommerce-page button.button.alt,
body.woocommerce-page input.button.alt {
  padding: 7px 24px;
  border: none;
  letter-spacing: .0625em;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6345;
  font-weight: 500;
  background: #1a1919;
  color: white;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  body.woocommerce #content input.button.alt:hover,
  body.woocommerce #respond input#submit.alt:hover,
  body.woocommerce a.button.alt:hover,
  body.woocommerce button.button.alt:hover,
  body.woocommerce input.button.alt:hover,
  body.woocommerce-page #content input.button.alt:hover,
  body.woocommerce-page #respond input#submit.alt:hover,
  body.woocommerce-page a.button.alt:hover,
  body.woocommerce-page button.button.alt:hover,
  body.woocommerce-page input.button.alt:hover {
    background: #00a8da;
    color: white; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:before,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce-page div.product .woocommerce-tabs ul.tabs li:before {
  content: none !important; }

body.woocommerce #content div.product .woocommerce-tabs ul.tabs li:after {
  content: none !important; }

body.woocommerce #content div.product .woocommerce-tabs ul.tabs li {
  background: none !important;
  border: none !important;
  box-shadow: none !important; }

.woocommerce #content div.product .woocommerce-tabs ul.tabs:before {
  content: none !important; }

body.woocommerce .woocommerce-tabs > hr {
  margin-bottom: 30px; }

body.woocommerce .woocommerce-tabs li {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.21;
  font-weight: 500; }
  body.woocommerce .woocommerce-tabs li.active a {
    border-bottom: 2px solid #1a1919;
    padding-bottom: 3px; }

#review_form .comment-form-rating {
  display: inline-block;
  width: 100%;
  padding-left: 24px;
  padding-left: 1.5rem;
  vertical-align: top;
  margin: 12px 0 !important; }
#review_form .comment-reply-title {
  margin-bottom: 24px; }

#reviews .description {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.72429; }

.woocommerce .related h2 {
  margin-top: 0;
  margin-bottom: 12px;
  text-align: center; }

.price {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.72429; }

.price del {
  color: #919191; }

.price ins, .price > span {
  border-bottom: 0;
  font-weight: bold;
  color: #00a8da; }

body.woocommerce .table--striped tbody tr:nth-of-type(odd), body.woocommerce table tbody tr:nth-of-type(odd), body.woocommerce-page .table--striped tbody tr:nth-of-type(odd), body.woocommerce-page table tbody tr:nth-of-type(odd) {
  background: transparent; }

body.woocommerce div.woocommerce-message, body.woocommerce div.woocommerce-info, body.woocommerce .woocommerce-error, body.woocommerce-page div.woocommerce-message, body.woocommerce-page div.woocommerce-info, body.woocommerce-page .woocommerce-error {
  margin-top: 24px !important;
  padding-left: 1em !important;
  border: none;
  border: 1px solid #d8d8d8;
  background: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  body.woocommerce div.woocommerce-message:before, body.woocommerce div.woocommerce-info:before, body.woocommerce .woocommerce-error:before, body.woocommerce-page div.woocommerce-message:before, body.woocommerce-page div.woocommerce-info:before, body.woocommerce-page .woocommerce-error:before {
    content: none; }
  body.woocommerce div.woocommerce-message .button:after, body.woocommerce div.woocommerce-info .button:after, body.woocommerce .woocommerce-error .button:after, body.woocommerce-page div.woocommerce-message .button:after, body.woocommerce-page div.woocommerce-info .button:after, body.woocommerce-page .woocommerce-error .button:after {
    content: none; }
body.woocommerce .woocommerce-error, body.woocommerce-page .woocommerce-error {
  border: 1px solid red; }

#review-submit,
body.woocommerce div.woocommerce-message .button,
td.actions input.button,
form.shipping_calculator button.button,
body.woocommerce-page input.button {
  padding: 6px 24px;
  border: none;
  letter-spacing: .0625em;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6345;
  font-weight: 500;
  background: #1a1919;
  color: white;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #review-submit:hover,
  body.woocommerce div.woocommerce-message .button:hover,
  td.actions input.button:hover,
  form.shipping_calculator button.button:hover,
  body.woocommerce-page input.button:hover {
    background: #00a8da;
    color: white; }

#ship-to-different-address * {
  display: inline-block;
  margin: 0;
  padding: 0; }

ul.payment_methods li * {
  display: inline-block; }

body.woocommerce-page #payment div.payment_box {
  background: transparent;
  border: 1px solid #d8d8d8;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  body.woocommerce-page #payment div.payment_box:after {
    content: none; }

.woocommerce-breadcrumb a:after {
  content: "»";
  margin-left: 6px;
  margin-right: 6px; }
